.options {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    min-height: 100px;
}

.option {
    height: 75px;
    width: 250px;
    display: flex;
    justify-content: space-between;
    border: solid 1px #ddd;
    box-shadow: 2px 2px 3px #ddd;
    flex: 0 0 auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

.option img {
    height: 100%;
    width: 80px;
    object-fit: cover;
}

.wrapper {
    margin: 40px;
    text-align: left;
}

div h3 {
    text-align: center;
    font-size: 15px;
    padding: 15px;
}

div {
    color: #454545;
}

.noMatch {
    margin: 40px;
}

.host input {
    height: 40px;
    font-size: 18px;
    border: solid 1px #ddd;
    box-shadow: 2px 2px 3px #ddd;
    border-radius: 5px;
    margin-top: 10px;
}

.host button {
    font-size: 20px;
    border-radius: 5px;
}