.nav {
    border-bottom: 1px solid #ddd;
    display: flex;
    justify-content: space-between;
    padding: 12px;
    background: #fff;
}

ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

li {
    width: 100%;
}

.input {
    min-height: 10px;
    width: 460px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 2px 2px 3px #ddd;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

input {
    height: 20px;
    font-size: 18px;
    width: 415px;
    border: none;
    font-weight: bold;
}

input:focus, textarea:focus {
    outline: none;
}

.searchIcon {
    width: 10%;
    height: 22px;
    fill: #454545;
}

h1 {
    font-size: 32px;
    margin: 0;
    padding-right: 12px;
    padding-left: 5px;
    padding-top: 5px;
    background: -webkit-linear-gradient(#ff0, #f90, #f0f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.left {
    display: flex;
    justify-content: space-between;
    padding: 5px;
}

.right {
    display: flex;
    justify-content: space-between;
}

.item {
    text-decoration: none;
    list-style: none;
    padding: 16px;
    color: #454545;
}

.item:hover, .item:active {
    background: -webkit-linear-gradient(#ff0, #f90, #f0f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#mobile-nav, .sidenav-trigger {
    display: none;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .hide-on-med-and-down {
        display: none;
    }
    ul {
        list-style: none;
        display: flex;
        padding: 0;
        margin: 0;
    }
    li {
        width: 100%;
    }
    .left {
        flex-direction: column;
        padding-left: 0;
        padding-right: 0;
    }
    .input {
        width: 100%;
        margin: 0;
    }
    input {
        width: 100%;
        margin: 0;
    }
    .nav {
        flex-direction: column;
        padding: 0;
    }
    #mobile-nav, .sidebar-trigger {
        display: flex;
        flex-direction: column;
    }
}