fieldset {
    border: none;
}

.search {
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 2px 2px 3px #ddd;
    display: flex;
    flex-direction: column;
}

.datepicker {
    display: flex;
    justify-content: space-around;
}

.react-date-picker__button {
    margin: 0;
    border: none;
    box-shadow: none;
}

.react-date-picker__inputGroup__input {
    margin: 0;
    border: none;
    box-shadow: none;
}

.react-date-picker__wrapper {
    padding: 15px;
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 2px 2px 3px #ddd;
}

form {
    width: 80%;
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: space-between;
}