.search {
    width: 80%;
    display: flex;
    flex-direction: column;
    padding: 15px;
    text-align: center;
}

.form{
    border: solid black 2px;
}

.advancedSearch{
    border: solid black 2px;
    display: grid
}

input {
    width: 30%;
    border: grey;
}
