form input {
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 2px 2px 3px #ddd;
    width: 80%;
}

form button {
    background: #f90;
    width: 80%;
    padding: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    font-size: 18px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: white;
    border-radius: 5px;
    border: 1px solid #ddd;
    border-radius: 2px;
    box-shadow: 2px 2px 3px #ddd;
}

.disclaimer {
    font-style: italic;
    font-size: 12px;
}